<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Machine Learning Projects</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="subpage">
<!-- Header -->
<header id="header">
    <div class="logo"><a href="/">Hielo <span>by TEMPLATED</span></a></div>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<!--<nav id="menu">-->
<!--<ul class="links">-->
<!--<li><a href="index.html">Home</a></li>-->
<!--<li><a href="generic.html">Generic</a></li>-->
<!--<li><a href="elements.html">Elements</a></li>-->
<!--</ul>-->
<!--</nav>-->

<!-- One -->
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>The key to artificial intelligence has always been the representation.</p>
            <h2>My Machine Learning Projects</h2>
        </header>
    </div>
</section>

<!-- Main -->
<div id="main" class="container">
    <h2 id="elements">Machine Learning Projects List</h2>

    <div class="row 200%">
    </div>
</div>

<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            <div>
                <div class="box">
                    <div class="image fit">

                        <img src="{{ url_for('static', filename='images/templateLook/pic02.jpg') }}">
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p>Classify Images and predict if they are of glacier, sea, buildings, forest, street or mountain</p>
                            <h2>Image Classification Using Tensorflow</h2>
                        </header>
                        <p> </p>
                        <footer class="align-center">
                            <a href="{{ url_for('intelClassify') }}" class="button alt">View Project</a>
                            <!--<a target="_blank" href="https://www.kaggle.com/mohansacharya/graduate-admissions" class="button alt">GitHub Repository</a>-->
                        </footer>
                    </div>
                </div>
            </div>
            <div>
                <div class="box">
                    <div class="image fit">

                        <img src="{{ url_for('static', filename='images/templateLook/pic01.jpg') }}">
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p>Classify Butterfly Images and predict which butterfly species they are</p>
                            <h2>Butterfly Image Classification Using Tensorflow</h2>
                        </header>
                        <p> </p>
                        <footer class="align-center">
                            <a href="{{ url_for('butterflyClassify') }}" class="button alt">View Project</a>
                            <!--<a target="_blank" href="https://www.kaggle.com/mohansacharya/graduate-admissions" class="button alt">GitHub Repository</a>-->
                        </footer>
                    </div>
                </div>
            </div>

            <!--<div>-->
            <!--<div class="box">-->
            <!--<div class="image fit">-->

            <!--<img src="{{ url_for('static', filename='images/templateLook/pic03.jpg') }}">-->
            <!--</div>-->
            <!--<div class="content">-->
            <!--<header class="align-center">-->
            <!--<p>"Imaginations bring order out of chaos. Deep learning with deep imagination is the road map to AI springs and AI autumns." - Amit Ray</p>-->
            <!--<h2>My Deep Learning Projects</h2>-->
            <!--</header>-->
            <!--<p></p>-->
            <!--<footer class="align-center">-->
            <!--<a href="#" class="button alt">Discover</a>-->
            <!--</footer>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</section>

</body>
</html>