<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>Machine Learning Projects</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body class="subpage">
    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="/">My Ai Projects</span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <!--<nav id="menu">-->
    <!--<ul class="links">-->
    <!--<li><a href="index.html">Home</a></li>-->
    <!--<li><a href="generic.html">Generic</a></li>-->
    <!--<li><a href="elements.html">Elements</a></li>-->
    <!--</ul>-->
    <!--</nav>-->

    <!-- One -->
    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Predict Your Chances Of Admission Abroad</p>
                <h2>My Machine Learning Projects</h2>
            </header>
        </div>
    </section>

    <div id="main" class="container">
        <h2 id="elements">Graduate Admissions</h2>
        <p style="background-color:green;color:white;font-size:24px">{{ prediction_text }}</p>
        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <h3>Overview</h3>
                <p>
                    This dataset is created by Mohan S Acharya to estimate chances of graduate admission from an Indian perspective. Our analysis will help us in understand what factors are important in graduate admissions and how these factors are interrelated among themselves. It will also help predict one's chances of admission given the rest of the variables.
                </p>
                <a target="_blank" href="https://www.kaggle.com/mohansacharya/graduate-admissions" class="button alt" style="margin-top:10px">Link To Dataset</a>
                <a target="_blank" href="https://github.com/sanwalsahil/grad_admissions/blob/master/Admission_Predict.csv" class="button alt" style="margin-top:10px">Download Test Data For Demo</a>
                <a target="_blank" href="https://github.com/sanwalsahil/grad_admissions" class="button alt" style="margin-top:10px">Link To GitHub Repo</a>
                <br>

                </div>
            <div class="6u 12u$(medium)">
            </div>

            <div class="6u 12u$(medium)">
                <h3>Demo</h3>
                <form method="post" action="{{url_for('grad_predict')}}">
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" required name="gre" id="gre" value="" placeholder="GRE Score (out of 340 )" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="text" required name="toefl" id="toefl" value="" placeholder="TOEFL Score (out of 120 )" />
                        </div>
                        <div class="12u$">
                            <div class="select-wrapper">
                                <select name="uni" id="category" required>
                                    <option value="">- University Rating -</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="12u$">
                            <input type="text" name="sop" id="sop" required value="" placeholder="Statement Of Purpose Strength (out of 5)" />
                        </div>
                        <div class="12u$">
                            <input type="text" name="lor" id="lor" required value="" placeholder="Letter Of Recommendation Strength (out of 5)" />
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="gpa" id="gpa" required value="" placeholder="UnderGraduate GPA (out of 10)" />
                        </div>
                        <div class="12u$">
                            <div class="select-wrapper">
                                <select name="res" id="category" required>
                                    <option value="">- Research Work Done -</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>

                                </select>
                            </div>
                        </div>

                        <!-- Break -->


                        <!-- Break -->
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Submit" /></li>

                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="6u 12u$(medium)">
            </div>
        </div>


    </div>
</html>